<!DOCTYPE html>
<html>
    <head>
        <title>Yavuz Ali Oguz</title>
    </head>
    <body>
      <header>
  <h1><a href="/">Yavuz Ali Oguz Blog</a></h1>
</header>

{% for post in posts %}
  <article>
      <time>published: {{ post.published_date }}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
  </article>
{% endfor %}
<article>
            <time>published: 13.07.2022, 12:14</time>
            <h2><a href="">My Mentality</a></h2>
            <p>IF YOUR DREAM DON'T SCARE YOU THEY AREN'T BIG ENOUGH</p>
        </article>

        <article>
            <time>published: 13.07.2022, 12:14</time>
            <h2><a href="">How is Possible to Know What I Want in My Life?</a></h2>
            <p>I have been thinking for years. I could not find it. I will keep thinking. Best, Yavuz</p>
        </article>
    </body>
</html>
