<!DOCTYPE html>
<html>
    <head>
        <title>Yavuz blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Yavuz Blog</a></h1>
        </header>

        <article>
            <time>published: 10.07.2022, 13:30</time>
            <h2><a href="">My first post</a></h2>
            <p>Yanlızım ben çok yanlızım.</p>
        </article>

        <article>
            <time>published: 10.07.2022, 13:30</time>
            <h2><a href="">My second post</a></h2>
            <p>Buymuş benim alın yazım.</p>
        </article>
    </body>
</html>
